<!DOCTYPE html>
<html style="height: 100%">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0"> 
    <!-- 引入 ECharts 文件 -->
    <script src="https://api.map.baidu.com/api?v=2.0&ak=h129M1C1fS3Wys2FhT4xEnNujfF2XChK&s=1"></script>	
	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script src="echarts.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bmap.js"></script>
    <script type="text/javascript" src="zhenzhou.min.js"></script>
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
app.title = '热力图与百度地图扩展';

var data28=[{name:"河南省郑州市新密市（地址:【青屏大街行政路】路口以北25米）",value:[113.3909,34.5396,2121.44]}];

		 var data29=[{name:"",value:[[xAxis,yAxis,other,..],]}]

        var dataAll = [data28,data29, data30, data1, data2, data3, data4, data5, data6, data7, data8, data9]
		
		 for (var i = 0; i < 12; i++) {
			var d = dataAll[i];
			for(var j=0 ; j<d.length; j++){			
				var v = d[j].value;
				var lng = v[0];
				var lat = v[1];
				var n = gcj02tobd09(lng, lat);
				dataAll[i][j].value[0]=n[0];
				dataAll[i][j].value[1]=n[1];
			}
		 }

var option = {
    //option部分的相同配置
    baseOption: {
        title: { //显示的标题
            text: '北京市地铁口人流监控',
            left: 'center',
            textStyle: {
                color: 'black'
            }
        },
        
 
 
timeline: {//开启时间线下方的时间线
        autoPlay: true, //是否开启自动   
		data: ['9.28', '9.29', '9.30', '10.1', '10.2', '10.3', '10.4', '10.5', '10.6', '10.7', '10.8', '10.9'],
        axisType: 'category',
        playInterval: 2000,//跳转间隔时间
lineStyle: {color: 'white'},//线条颜色
label: { //显示上方时间点标签的样式
        normal: {
        textStyle: {
color: 'black',
fontSize: 13
}
}
}
},
        tooltip : {  //用于当前坐标点的弹出信息
            /*show : true, //默认显示
            showContent:true, //是否显示提示框浮层*/
            trigger:'item',//触发类型，默认数据项触发
            /*triggerOn:'click',//提示触发条件，mousemove鼠标移至触发，还有click点击触发
            alwaysShowContent:false,
            // 绝对位置，相对于容器左侧 10px, 上侧 10 px
            position: [10, 10],*/
            "formatter":function(params,ticket,callback){//
                //其中params中包含了我们传入的数据和设定的series的name等
                //console.log(params);
                //ticket 是异步回调标识，配合第三个参数 callback 使用。
                // 第三个参数 callback 是异步回调，在提示框浮层内容是异步获取的时候，可以通过         callback 传入上述的 ticket 和 html 更新提示框浮层内容。
                return params.data.name+"<br/>"+params.data.value[2];
            }
        },
 
        bmap: {
            center: [116.422545110, 39.917055306224895], //当前显示地图的中心点
            zoom: 12,//空间放大的倍数
            roam: true //是否允许用户调节地图，如放大缩小
        },
        visualMap: { //用于开启自定义的视觉颜色条框
            show: true,
            //top: 'top',
            min: 0,
            max: 200,
            //seriesIndex: 0,//如果指定为0 ，那么只会运行第一个series配置
            calculable: true,//如果开启，将会支持手动拖拽更改颜色
            inRange: {
                color: ['blue','blue', 'green', 'yellow', 'red']
            },
            top:20 //颜色指示器放置在顶端
        },
        series: [{  
            name:"人口流动密度",
            type: 'heatmap',//类型为热力图  //设置为scatter才会显示文字提示
            coordinateSystem: 'bmap',//采用的坐标系（地理坐标系）
            pointSize: 8,//显示点的大小
            blurSize: 4, //模糊显示点  其放大倍数越高，显示点的颜色越浅
            /*label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: true
                },
                emphasis: {
                    show: true
                }
            },*/
            itemStyle: {
                normal: {
                    color: '#ddb926'
                }
            }
        }]
},
 
  options: [
        {
            series: [{
                data :dataAll[0]
            }]
        }, {
            series: [{
                data : dataAll[1]
            }]
        },
        {
            series: [{
            data : dataAll[2]
            }]
        },
        {
            series: [{
            data : dataAll[3]
            }]
        },
        {
            series: [{
			data: dataAll[4]
			}]
        },
        {
            series: [{
                data : dataAll[5]
            }]
        },
        {
            series: [{
                data : dataAll[6]
            }]
        },
        {
            series : [{
                data: dataAll[7]
            }]
        },
        {
 
            series: [{
                data: dataAll[8]
            }]
        },
        {
            series : [{
                data: dataAll[9]
            }]
        },
        {
            series: [{
                data : dataAll[10]
            }]
        },
        {
            series: [{
                data : dataAll[11]
            }]
        }
    ]
}

    myChart.setOption(option);

	
	function gcj02tobd09(lng, lat) {
		var x_PI = 3.14159265358979324 * 3000.0 / 180.0;
		var z = Math.sqrt(lng * lng + lat * lat) + 0.00002 * Math.sin(lat * x_PI);
		var theta = Math.atan2(lat, lng) + 0.000003 * Math.cos(lng * x_PI);
		var bd_lng = z * Math.cos(theta) + 0.0065;
		var bd_lat = z * Math.sin(theta) + 0.006;
		return [bd_lng, bd_lat]
	}
       </script>
   </body>
</html>